<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='/css/style.css' media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" ></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js" ></script>
    <script type="text/javascript" src="/js/functions.js" ></script>
  </head>
  <body class="container">
    <h1><%= title %></h1>
    <h3>Live data will be shown below:</h3>
    <p>&nbsp;</p>
    <div id="update"></div>
  </body>
</html>